#next
  position: absolute
  top: 0
  right: 0
  background-color: rgba(0, 0, 0, 0.4)
  font-size: 28px
  // width: 30%
  // bottom: 0

#prev
  position: absolute
  top: 0
  left: 0
  background-color: rgba(0, 0, 0, 0.4)
  font-size: 28px
  // width: 30%
  // bottom: 0